.slider__scale {
  width: 100%;
  height: 1.5rem;
  position: relative;
}

.scale__element {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scale__strips {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat-x;
}

.scale__content {
  color: #e5e5e5;
}