.slider__scale {
  height: 100%;
  position: relative;
}

.slider__scale_horizontal {
  padding-top: 0.5rem;
  width: 100%;
  position: relative;
}

.scale__element {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #e5e5e5;
}