.slider__runner {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 50%;
  background-color: #53B6A8;
  cursor: pointer;
  left: -0.5rem;
  z-index: 2;
}

.slider__runner_horizontal {
  top: -0.5rem;
  left: 0;
}