.slider__container {
  padding: 0.75rem;
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.slider__container_horizontal {
  height: auto;
  flex-direction: column;
}

.slider__bar-container {
  position: relative;
  height: 100%;
  z-index: 2;
}

.slider__bar-container_horizontal {
  height: auto;
  width: 100%;
}
