.slider__container {
  position: relative;
  height: 100%;
  width: 1rem;
  display: flex;
  align-items: center;
}

.slider__container_horizontal {
  width: 100%;
  height: auto;
  border: 1px solid;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.slider__bar_container {
  position: relative;
  height: 100%;
  width: 1rem;
  z-index: 2;
}

.slider__bar_container_horizontal {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 2;
}
