.slider__display_container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.slider__display_container_horizontal {
  height: 2rem;
  width: 100%;
}

.slider__display_value {
  display: inline-block;
  position: absolute;
  color: white;
  background-color: #53B6A8;
  padding: 0.1rem 0.5rem 0.3rem;
  border-radius: 0.4rem;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0.8rem;
  cursor: pointer;
}

.slider__display_value_horizontal {
  bottom: 0.7rem;
  right: auto;
}