.demo_slider {
  display: grid;
  margin-bottom: 100px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.demo_slider_vertical {
  grid-template-columns: 320px 1fr;
}

.config_form_vertical {
  grid-column: 2;
  grid-row: 1;
}

.config_container {
  display: grid;
  grid-template-columns: auto auto;
}

.config_container__view {
  grid-column: 2;
  grid-row: 1 / 3;
}

.config__model {
  display: flex;
  flex-direction: column;
}

.config__model_label {
  display: flex;
  justify-content: space-between;
}

.label_second_val {
  justify-content: end;
}

.input_second_val {
  margin-left: auto;
}

.config__presenter_label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.config_presenter__presets {  
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  padding-bottom: 0.3rem;
}

.config_presenter__presets > label {
  cursor: pointer;
}

.config_presenter__lock > label {
  cursor: pointer;
}

.config__view {
  display: flex;
  flex-direction: column;
}

.config__view_label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.config_orientation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  padding-bottom: 0.3rem;
}

.config_orientation > label{
  grid-row: 2;
  align-items: center;
  cursor: pointer;
}

.label_num_scale_val {
  display: grid;
  grid-template-columns: auto 1fr 3rem;
  column-gap: 0.5rem;
  justify-content: space-around;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  margin-top: 0.3rem;
  padding: 0.3rem 0;
  cursor: pointer;
}

.label_postfix,
.label_prefix {
  display: grid;
  grid-template-columns: minmax(auto, 20%) 1fr;
  justify-content: space-between;
}

.input_prefix,
.input_postfix {
  width: 270px;
}

.callback_indicators {
  display: flex;
  justify-content: space-around;
}

.indicator {
  border: 1px solid;
  padding: 0.3rem 0.5rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  cursor: pointer;
}